# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Docker
*.log

*.sqlite3
*.db
*.sql